{%- liquid
  assign label_icons = product.metafields.card.label_icon.value
  assign label_texts = product.metafields.card.label_text.value
  assign price_per_day = product.metafields.card.price_per_day
-%}

<a href="{{- product.url -}}" class="product-card">
  <div class="product-card__image-wrapper">
    {% render 'image-srcset', image: product.featured_image, classes: 'product-card__image' %}

    {% for label_icon in label_icons %}
      {%- assign label_text = label_texts[forloop.index0] -%}

      {%- if label_text != blank and label_icon != blank -%}
        <div class="product-card__label">
          <img class="product-card__label-image" src="{{- label_icon | img_url: 'master' -}}" alt="{{- label_icon.alt -}}">

          {{- label_text -}}
        </div>
      {%- endif -%}
    {% endfor %}

    {% if price_per_day != blank %}
      <div class="product-card__per-day">
        <span class="product-card__per-day-value">
          {{- price_per_day -}}
        </span>

        <br>

        {{- 'products.product.slash_day' | t -}}
      </div>
    {% endif %}
  </div>

  <h3 class="product-card__title">
    {{- product.title -}}
  </h3>

  <span class="product-card__price">
    {{- product.price | money -}}
  </span>
</a>
