{%- liquid
  assign background_color = section.settings.background_color
  assign font_color = section.settings.font_color
  assign title = section.settings.title
  assign description = section.settings.description
  assign collection = section.settings.collection
  assign card_hover = section.settings.card_hover
  assign button_text = section.settings.button_text
  assign button_background_color = section.settings.button_background_color
  assign button_font_color = section.settings.button_font_color
-%}

{{- 'section-featured-collection.css' | asset_url | stylesheet_tag -}}

{%- capture products -%}
  {%- for product in collection.products limit: 4 -%}
    {%- if product != blank -%}
      <div class="featured-collection__product swiper-slide">
        {%- render 'product-card', product: product -%}
      </div>
    {%- endif -%}
  {%- endfor -%}
{%- endcapture -%}

{%- capture styles -%}
  --featured-collection-background-color: {{- background_color -}};
  --featured-collection-font-color: {{- font_color -}};
  --featured-collection-card-hover: {{- card_hover -}};
  --featured-collection-button-background-color: {{- button_background_color -}};
  --featured-collection-button-font-color: {{- button_font_color -}};
{%- endcapture -%}

{%- assign styles = styles | strip_newlines -%}

{%- if products != blank -%}
  <div style="{{- styles -}}" class="featured-collection">
    <div class="container">
      {%- if title != blank -%}
        <h2 class="featured-collection__title">
          {{- title -}}
        </h2>
      {%- endif -%}

      {%- if description != blank -%}
        <p class="featured-collection__description">
          {{- description -}}
        </p>
      {%- endif -%}

      <mobile-slider>
        <div class="featured-collection__slider js-mobile-slider">
          <div class="featured-collection__wrapper swiper-wrapper">
            {{- products -}}
          </div>

          <div class="featured-collection__pagination js-mobile-slider-pagination">

          </div>
        </div>
      </mobile-slider>

      {%- if button_text != blank -%}
        <div class="featured-collection__button-wrapper">
          <a class="featured-collection__button" href="{{- collection.url -}}">
            {{- button_text -}}
          </a>
        </div>
      {%- endif -%}
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.featured-collection.name",
  "tag": "section",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.featured-collection.settings.background_color.label",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "font_color",
      "label": "t:sections.featured-collection.settings.font_color.label",
      "default": "#363636"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.featured-collection.settings.title.label",
      "default": "Have you had your daily dose of vit today?"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "t:sections.featured-collection.settings.description.label",
      "default": "Whether you need a daily pick-me up or a little sleep support, our products are developed with the end goal in mind. Optimally-dosed, highly bioavailable formulas means you can see and feel results that set you on a path to better health."
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "t:sections.featured-collection.settings.button_text.label",
      "default": "See All Products"
    },
    {
      "type": "color",
      "id": "button_background_color",
      "label": "t:sections.featured-collection.settings.button_background_color.label",
      "default": "#00AFA9"
    },
    {
      "type": "color",
      "id": "button_font_color",
      "label": "t:sections.featured-collection.settings.button_font_color.label",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "card_hover",
      "label": "t:sections.featured-collection.settings.card_hover.label",
      "default": "#FFF9C0"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-collection.presets.name"
    }
  ]
}
{% endschema %}
