{%- liquid
  assign background_color = section.settings.background_color
  assign font_color = section.settings.font_color
  assign title = section.settings.title
  assign blocks = section.blocks
-%}

{{- 'section-reviews.css' | asset_url | stylesheet_tag -}}

{%- capture reviews_cards -%}
  {%- for block in blocks -%}
    {%- liquid
      assign image = block.settings.image
      assign stars = block.settings.stars
      assign card_title = block.settings.title
      assign text = block.settings.text
      assign author = block.settings.author
      assign product = block.settings.product

      assign item_background_color = block.settings.background_color
      assign item_font_color = block.settings.font_color
      assign stars_color = block.settings.stars_color
      assign product_background = block.settings.product_background
      assign product_font_color = block.settings.product_font_color
    -%}

    {%- capture review_styles -%}
      --review-background-color: {{- item_background_color -}};
      --review-font-color: {{- item_font_color -}};
      --review-stars-color: {{- stars_color -}};
      --review-product-background: {{- product_background -}};
      --review-product-font-color: {{- product_font_color -}};
    {%- endcapture -%}

    {%- assign review_styles = review_styles | strip_newlines -%}

    {%- if text != blank and author != blank -%}
      <div style="{{- review_styles -}}" class="reviews__item-wrapper swiper-slide">
        {% if image != blank %}
          {% render 'image-srcset', image: image, classes: 'reviews__item-image' %}
        {% endif %}

        <div class="reviews__item">
          <div class="reviews__item-stars">
            {%- for i in (1..stars) -%}
              {%- render 'icon-star' -%}
            {%- endfor -%}
          </div>

          {%- if card_title != blank -%}
            <h3 class="reviews__item-title">
              {{- card_title -}}
            </h3>
          {%- endif -%}

          <p class="reviews__item-text">
            {{- text -}}
          </p>

          <span class="reviews__item-author">
            {{- author -}}
          </span>

          {%- if product != blank -%}
            <a href="{{- product.url -}}" class="reviews__item-product">
              {% render 'image-srcset', image: product.featured_image, classes: 'reviews__item-product-image' %}

              <span>
                {{- product.title -}}
              </span>

              {% render 'icon-arrow-right' %}
            </a>
          {%- endif -%}
        </div>
      </div>
    {%- endif -%}
  {%- endfor -%}
{%- endcapture -%}

{%- capture styles -%}
  --reviews-background-color: {{- background_color -}};
  --reviews-font-color: {{- font_color -}};
{%- endcapture -%}

{%- assign styles = styles | strip_newlines -%}

{% if reviews_cards != blank %}
  <div style="{{- styles -}}" class="reviews">
    <div class="container">
      {% if title != blank %}
        <h2 class="reviews__title">
          {{- title -}}
        </h2>
      {% endif %}

      <mobile-slider>
        <div class="js-mobile-slider">
          <div class="reviews__wrapper swiper-wrapper">
            {{- reviews_cards -}}
          </div>

          <div class="reviews__pagination js-mobile-slider-pagination">

          </div>
        </div>
      </mobile-slider>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "t:sections.reviews.name",
  "tag": "section",
  "max_blocks": 3,
  "blocks": [
    {
      "name": "t:sections.reviews.blocks.review.name",
      "type": "review",
      "settings": [
        {
          "type": "color",
          "id": "background_color",
          "label": "t:sections.reviews.blocks.review.settings.background_color.label",
          "default": "#DFFFFD"
        },
        {
          "type": "color",
          "id": "font_color",
          "label": "t:sections.reviews.blocks.review.settings.background_color.label",
          "default": "#363636"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.reviews.blocks.review.settings.image.label"
        },
        {
          "type": "range",
          "id": "stars",
          "min": 1,
          "max": 5,
          "step": 1,
          "label": "t:sections.reviews.blocks.review.settings.stars.label",
          "default": 5
        },
        {
          "type": "color",
          "id": "stars_color",
          "label": "t:sections.reviews.blocks.review.settings.stars_color.label",
          "default": "#00AFA9"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.reviews.blocks.review.settings.title.label",
          "default": "Walking on Sunshine"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "t:sections.reviews.blocks.review.settings.text.label",
          "default": "“These little softgels have helped boost my mood and keep me in a positive head space during all the chaos of everyone coming back to work since covid. I suffer from anxiety and depression and this has helped”"
        },
        {
          "type": "text",
          "id": "author",
          "label": "t:sections.reviews.blocks.review.settings.author.label",
          "default": "Amber"
        },
        {
          "type": "product",
          "id": "product",
          "label": "t:sections.reviews.blocks.review.settings.product.label"
        },
        {
          "type": "color",
          "id": "product_background",
          "label": "t:sections.reviews.blocks.review.settings.product_background.label",
          "default": "#00AFA9"
        },
        {
          "type": "color",
          "id": "product_font_color",
          "label": "t:sections.reviews.blocks.review.settings.product_font_color.label",
          "default": "#ffffff"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.reviews.settings.background_color.label",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "font_color",
      "label": "t:sections.reviews.settings.font_color.label",
      "default": "#363636"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.reviews.settings.title.label",
      "default": "Why People Love Us"
    }
  ],
  "presets": [
    {
      "name": "t:sections.reviews.presets.name"
    }
  ]
}
{% endschema %}
